<div class="page-header">
  <h1>Welcome admin</h1>
</div>

        <h2>Available Modules</h2>
    <div style="margin: 0 auto;">
    <ul class="modules clear">
            <li>
            <div class="clear">
              <div class="icon icon-help"></div>
              <div class="left">
                <div class="title">Help</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="help">Go to Help</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-client"></div>
              <div class="left">
                <div class="title">Client</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="client">Go to Client</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-sites"></div>
              <div class="left">
                <div class="title">Sites</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="sites">Go to Sites</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-mail"></div>
              <div class="left">
                <div class="title">Email</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="mail">Go to Email</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-dns"></div>
              <div class="left">
                <div class="title">DNS</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="dns">Go to DNS</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-monitor"></div>
              <div class="left">
                <div class="title">Monitor</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="monitor">Go to Monitor</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-tools"></div>
              <div class="left">
                <div class="title">Tools</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="tools">Go to Tools</a>
        </li>
            <li>
            <div class="clear">
              <div class="icon icon-admin"></div>
              <div class="left">
                <div class="title">System</div>
              </div>
            </div>
            <a href="#" class="btn btn-default button" data-capp="admin">Go to System</a>
        </li>
        </ul>
    </div>

<div>
    <div><h3>System metrics</h3></div>
    <div style="padding-bottom:10px;"><canvas height="30" id="loadchart" style="background-color: white;"></canvas></div>
    <div style="padding-bottom:10px;"><canvas height="30" id="memchart" style="background-color: white;"></canvas></div>
</div>

    <div class="table-wrapper">
    <table class="table">
      <caption>Mailbox Quota</caption>
      <thead class="dark form-group-sm">
        <tr>
          <th>Email Address</th>
          <th>Name</th>
          <th>Used Space</th>
          <th colspan="2">Quota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">accounts@example.co.za</a></td>
          <td></td><td>2 GB</td><td>Unlimited</td><td></td>
        </tr>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">adam@example.co.za</a></td>
          <td></td><td>1 GB</td><td>Unlimited</td><td></td>
        </tr>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">admin@example.co.za</a></td>
          <td></td><td>55 MB</td><td>Unlimited</td><td></td>
        </tr>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">backup@example.co.za</a></td>
          <td></td><td>1 kB</td><td>Unlimited</td><td></td>
        </tr>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">info@example.co.za</a></td>
          <td></td><td>8 MB</td><td>Unlimited</td><td></td>
        </tr>
        <tr>
          <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="">sales@example.co.za</a></td>
          <td></td><td>3 GB</td><td>Unlimited</td><td></td>
        </tr>
      </tbody>
        <tfoot>
            <tr>
                <th></th><th></th><th>45 GB</th><th colspan="2"></th>
            </tr>
        </tfoot>
    </table>
</div>

    <div class="table-wrapper">
    <table class="table">
        <caption>Account limits</caption>
        <thead class="dark form-group-sm">
            <tr>
                <th class="col-md-4">&nbsp;</th>
                <th class="col-md-3">&nbsp;</th>
                <th class="col-md-2">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Assigned mailbox quota</td><td>0 of Unlimited</td><td></td></tr>
            <tr><td>Number of email domains</td><td>1 of Unlimited</td><td></td></tr>
            <tr><td>Number of mailboxes</td><td>81 of Unlimited</td><td></td></tr>
            <tr><td>Number of email forwarders</td><td>5 of Unlimited</td><td></td></tr>
            <tr><td>Number of spamfilter users</td><td>82 of Unlimited</td><td></td></tr>
            <tr><td>Number of Clients</td><td>1 of Unlimited</td><td></td></tr>
        </tbody>
    </table>
</div>
