<!-- Email module #sidebar content: stock sidenav.tpl.htm rendered with a
     representative Email menu (nav.php?nav=side). -->
		<header>
				<a href="#" class="subnav-header" data-load-content="mail/mail_domain_list.php">
			Email Accounts
		</header>
	<ul id="sub-navigation">
	  <li>
			<a href="#" data-load-content="mail/mail_domain_list.php">
		  <div>
			<strong>Domain</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/mail_aliasdomain_list.php">
		  <div>
			<strong>Domain Alias</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/mail_user_list.php">
		  <div>
			<strong>Email Mailbox</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/mail_alias_list.php">
		  <div>
			<strong>Email Alias</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/mail_forward_list.php">
		  <div>
			<strong>Email Forward</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/mail_get_list.php">
		  <div>
			<strong>Email Routing</strong>
		  </div>
		</a>
	  </li>
	</ul>
		<header>
				<a href="#" class="subnav-header" data-load-content="mail/mail_spamfilter_user_list.php">
			Spamfilter
		</header>
	<ul id="sub-navigation">
	  <li>
			<a href="#" data-load-content="mail/spamfilter_whitelist_list.php">
		  <div>
			<strong>Whitelist</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/spamfilter_blacklist_list.php">
		  <div>
			<strong>Blacklist</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/spamfilter_users_list.php">
		  <div>
			<strong>User / Domain</strong>
		  </div>
		</a>
	  </li>
	</ul>
		<header>
				<a href="#" class="subnav-header" data-load-content="mail/mail_user_stats.php">
			Statistics
		</header>
	<ul id="sub-navigation">
	  <li>
			<a href="#" data-load-content="mail/mail_user_stats.php">
		  <div>
			<strong>Mailbox Traffic</strong>
		  </div>
		</a>
	  </li>
	  <li>
			<a href="#" data-load-content="mail/user_quota_stats.php">
		  <div>
			<strong>Mailbox Quota</strong>
		  </div>
		</a>
	  </li>
	</ul>
