<div class='page-header'>
	<h1>Websites</h1>
</div>
<p></p>


        <p class="fieldset-legend">Tools</p>

                <button class="btn btn-default formbutton-success" type="button" data-load-content="sites/web_vhost_domain_edit.php?type=domain">Add new website</button>




        <p class="fieldset-legend">Websites</p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                <tr>
                    <th class="small-col" data-column="domain_id">ID</th>
                    <th class="tiny-col" data-column="active">Active</th>
                    <th data-column="server_id">Server</th>
                    <th data-column="domain">Domain</th>
                    <th class="small-col text-right"><select name="search_limit" class="search_limit" style="width: 60px;"><option value="5" >5</option><option value="15" selected="selected">15</option><option value="25" >25</option><option value="50" >50</option><option value="100" >100</option><option value="999999999" >all</option></select></th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" name="search_domain_id" value="" /></td>
                    <td><select class="form-control active-switch" name="search_active"><option value=""></option><option value='y'>Yes</option>
<option value='n'>No</option>
</select></td>
                    <td><select class="form-control" name="search_server_id"><option value=""></option><option value='1'>web01.mzansihost.co.za</option>
</select></td>
                    <td><input class="form-control" type="text" name="search_domain" value="" /></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="Filter" data-submit-form="pageForm" data-form-action="sites/web_vhost_domain_list.php"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
                </thead>
                <tbody>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=16&type=domain">16</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=16&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=16&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=16&type=domain" data-toggle="tooltip" data-placement="bottom" title="example.co.za">example.co.za</a></td>
                        <td class="text-right">
							<a href="http://example.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://example.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=16&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=17&type=domain">17</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=17&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=17&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=17&type=domain" data-toggle="tooltip" data-placement="bottom" title="launchpadsa.co.za">launchpadsa.co.za</a></td>
                        <td class="text-right">
							<a href="http://launchpadsa.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://launchpadsa.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=17&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=18&type=domain">18</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=18&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=18&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=18&type=domain" data-toggle="tooltip" data-placement="bottom" title="mzansi-media.co.za">mzansi-media.co.za</a></td>
                        <td class="text-right">
							<a href="http://mzansi-media.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://mzansi-media.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=18&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  class="danger"  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=19&type=domain">19</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=19&type=domain">No</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=19&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=19&type=domain" data-toggle="tooltip" data-placement="bottom" title="capetowndeli.co.za">capetowndeli.co.za</a></td>
                        <td class="text-right">
							<a href="http://capetowndeli.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://capetowndeli.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=19&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=21&type=domain">21</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=21&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=21&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=21&type=domain" data-toggle="tooltip" data-placement="bottom" title="jozitech.co.za">jozitech.co.za</a></td>
                        <td class="text-right">
							<a href="http://jozitech.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://jozitech.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=21&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=22&type=domain">22</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=22&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=22&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=22&type=domain" data-toggle="tooltip" data-placement="bottom" title="karoo-safaris.co.za">karoo-safaris.co.za</a></td>
                        <td class="text-right">
							<a href="http://karoo-safaris.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://karoo-safaris.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=22&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  class="danger"  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=24&type=domain">24</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=24&type=domain">No</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=24&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=24&type=domain" data-toggle="tooltip" data-placement="bottom" title="durbanwaves.co.za">durbanwaves.co.za</a></td>
                        <td class="text-right">
							<a href="http://durbanwaves.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://durbanwaves.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=24&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
					<tr  >
                    	<td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=25&type=domain">25</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=25&type=domain">Yes</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=25&type=domain" data-toggle="tooltip" data-placement="bottom" title="web01.mzansihost.co.za">web01.mzansihost.co.za</a></td>
                        <td><a href="#" data-load-content="sites/web_vhost_domain_edit.php?id=25&type=domain" data-toggle="tooltip" data-placement="bottom" title="braaimaster.co.za">braaimaster.co.za</a></td>
                        <td class="text-right">
							<a href="http://braaimaster.co.za" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="icon icon-link"></span></button>
                            <a href="http://braaimaster.co.za/stats/" target="_blank" class="btn btn-default formbutton-default formbutton-narrow"><span class="glyphicon glyphicon-signal"></span></a>
							<a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/web_vhost_domain_del.php?id=25&_csrf_id=web_vhost_domain_admin_3f9c2a1b4d5e6f7a8b9c0d1e&_csrf_key=3d4f9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f&phpsessid=q1r9c2m5v0f8t3l6n4k7p2d5a8','Do you really want to delete this record?');"><span class="icon icon-delete"></span></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"><nav>
		<ul class="pagination"><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=0" aria-label="First">
			<span aria-hidden="true">&laquo;</span></a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=0" aria-label="Previous">
			<span aria-hidden="true">&lsaquo;</span></a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=0">1</a></li><li class="active"><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=1">2</a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=2">3</a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=3">4</a></li><li class="disabled"><a href="#">…</a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=9">10</a></li><li class="disabled"><a href="#">…</a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=11">12</a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=2" aria-label="Next">
			<span aria-hidden="true">&rsaquo;</span></a></li><li><a href="#" data-load-content="sites/web_vhost_domain_list.php?page=11" aria-label="Last">
			<span aria-hidden="true">&raquo;</span></a></li></ul></nav></td>
                    </tr>
                </tfoot>
            </table>
</div>
